<launch>
	<arg name="veh"/>
	<arg name="log_in"/>
	<arg name="log_out"/>
	<remap from="image_average_node/rgb_in" to="/$(arg veh)/camera_node/image/compressed"/>
	<remap from="image_average_node/rgb_out" to="image_average_node/topic"/>
	<node ns="$(arg veh)" pkg="image_average_rkk" type="image_average_node.py" name="image_average_node" output="screen">
	</node>
	<node  pkg="rosbag" type="play" name="rosbag_play" args="$(arg log_in)"/>
	<node  pkg="rosbag" type="record" name="rosbag_record" args="-a  -O $(arg log_out)"/> 
</launch>
