<launch>
    <arg name="veh" default="starducks" doc="Name of vehicle. ex: megaman"/>
    <arg name="log_in" doc="The path to the input log file"/>
    <arg name="log_out" doc="The path for the output log file"/>

    <include file="$(find image_average_teddy)/launch/image_average_node.launch">
		 <arg name="veh" value="$(arg veh)"/>
	</include>

	<node  pkg="rosbag" type="play" name="rosbag_play" args="$(arg log_in)"/>
	<node  pkg="rosbag" type="record" name="rosbag_record" args="-a  -O $(arg log_out)"/>
</launch>