<launch>
    <arg name="veh"/>
    <arg name="log_in" doc="the full path to the input bag" />
    <arg name="log_out" doc="the full path to the output bag" /> 

    <remap from="virtual_mirror_node/topic_in" to="/$(arg veh)/camera_node/image/compressed"/>
    <remap from="virtual_mirror_node/topic_out" to="virtual_mirror_node/topic"/>
    <!-- <remap from="virtual_mirror_node/" to ""/> -->
 
    <node ns="$(arg veh)" pkg="virtual_mirror_jenshen" type="virtual_mirror_node.py" name="virtual_mirror_node" output="screen"></node>
    <node pkg="rosbag" type="play" name="rosbag_play" args="$(arg log_in)"/>
    <node pkg="rosbag" type="record" name="rosbag_record" args="-a  -O $(arg log_out)"/> 

</launch>
