<launch>
    <arg name="veh" doc="Set the name of the vehicle. Corresponds to the names in the machines file."/>
    <arg name="imu" default="false" doc="Whether or not the imu nodes should be launched. Default to false."/>

    <include file="$(find duckietown)/machines"/>

    <group ns="$(arg veh)">
        <!-- Launch camera on veh-->
        <node machine="$(arg veh)" name="camera_node" pkg="pi_camera" type="camera_node_sequence.py" output="screen">
            <param name="~framerate" value="30.0"/>
            <param name="~res_w" value="640"/>
            <param name="~res_h" value="480"/>
        </node>

        <group if="$(arg imu)">
            <include file="$(find duckietown)/launch/imu_remote.launch">
                <arg name="veh" value="$(arg veh)"/>
            </include>
        </group>

        <!-- Joy on veh -->
        <node machine="$(arg veh)" pkg="joy" type="joy_node" name="joy" output="screen">
            <param name="~dev" value="/dev/input/js0"/>
            <param name="~deadzone" value="0.01"/>
            <param name="~autorepeat_rate" value="2.0"/>
            <param name="~coalesce_interval" value="0.02"/>
        </node>

        <!-- Joy mapper on veh -->
        <node machine="$(arg veh)" pkg="joy_mapper" type="joy_mapper.py" name="joy_mapper" output="screen">
            <param name="~left_right_ratio" value="1.0"/>
            <param name="~speed_gain" value="0.5"/>
            <param name="~steer_gain" value="0.4"/>
            <remap from="~wheels_cmd" to="wheels_driver/wheels_cmd"/> 
        </node>

	<!-- Line detector on laptop -->
	<node pkg="line_detector" type="line_detector_node.py" name="line_detector" output="screen">
		<remap from="~image" to="camera_node/image/compressed"/>
	</node>

	<!-- Ground projection -->
	<node pkg="ground_projection" type="ground_projection" name="ground_projection" output="screen">
		<remap from="~lineseglist_in" to="line_detector/segment_list"/>

		<rosparam command="load" file="$(find ground_projection)/homography.yaml"/>
		<param name="~homography_file" value="package://ground_projection/homography.yaml"/>
		<param name="~board_w" value="7"/>
		<param name="~board_h" value="5"/>
		<param name="~square_size" value="0.031"/>
		<param name="~x_offset" value="0.191"/>
		<param name="~y_offset" value="-0.093"/>
	</node>


        <!-- Wheel Driver -->
        <node machine="$(arg veh)" pkg="dagu_car" type="wheels_driver.py" name="wheels_driver" output="screen"/>
    </group>
</launch>
