<launch>
	<!-- <group ns="veh_name"> -->
	<arg name="veh"/>
	<include file="$(find duckietown)/machines"/>
	<group ns="$(arg veh)">
		<!-- Launch camera on veh-->
		<node machine="$(arg veh)" pkg="pi_camera" type="camera_node_sequence.py" name="camera_node" output="screen">
		    <param name="~framerate" value="30.0"/>
            <param name="~res_w" value="640"/>
            <param name="~res_h" value="480"/>
</node>
	</group>
</launch>
