<launch>
	<arg name="veh"/>
	<arg name="local" default="false" doc="true to launch locally on laptop. false to launch of vehicle"/>

	<!-- to do: use argument to definie package name -->
	<arg name="pkg_name" default="XXX" doc="name of the package"/>

	<!-- to do: use argument to definie package name -->
	<arg name="node_name" default="XXX" doc="name of the node"/>

	<group ns="$(arg veh)">
	<!-- Local -->

        <!-- to do: passing argument to node -->
		<node if="$(arg local)" pkg="$(arg XXX)" type="$(arg XXX).py" name="$(arg XXX)" output="screen" clear_params="true" required="true">

		</node>
	<!-- Remote -->
		<include unless="$(arg local)" file="$(find duckietown)/machines"/>

        <!-- to do: passing argument to node -->
		<node unless="$(arg local)" machine="$(arg veh)" pkg="$(arg XXX)" type="$(arg XXX).py" name="$(arg XXX)" output="screen" clear_params="true" required="true">

		</node>
	</group>
</launch>
