<launch>
    <arg name="veh" doc="Name of vehicle. ex: megaman"/>
    <arg name="local" default="false"/>
    <node if="$(arg local)" ns="$(arg veh)" pkg="dagu_car" type="wheels_driver.py" name="wheels_driver" output="screen"/>
    <node unless="$(arg local)" ns="$(arg veh)" machine="$(arg veh)" pkg="dagu_car" type="wheels_driver.py" name="wheels_driver" output="screen"/>
</launch>