<launch>
 	<arg name="veh"/>
	<arg name="config" default="baseline"/>
	<arg name="node_name" value="apriltags_postprocessing"/>
 	<arg name="pkg_name" value="apriltags"/>
 	<arg name="loc" default="1" doc="Physical room location of the duckietown map. E.g. 226 or 316"/>
 	<arg name="sub_node_name" default="global" doc="Specify if you want to add a subname to the name, e.g. global or fast"/>
	<arg name="param_file_name" default="default" doc="Specify a param file. ex:megaman"/>
 	
 	<group ns="$(arg veh)">
         <node pkg="$(arg pkg_name)" type="$(arg node_name)_node.py" name="$(arg node_name)_$(arg sub_node_name)_node" output="screen" clear_params="true" required="true">
         <param name="~loc" value="$(arg loc)" />
	 <rosparam command="load" file="$(find duckietown)/config/$(arg config)/$(arg pkg_name)/apriltags_postprocessing_node/$(arg param_file_name).yaml"/>
         </node>
 	</group>
 </launch>
