<launch>
	<arg name="veh"/>
	<arg name="config" default="baseline"/>
    	<arg name="local" default="false" doc="true for running everything you possibly can on laptop. false for everything running on vehicle."/>
	<arg name="param_file_name" default="default" doc="Specify a param file. ex:megaman"/>
	<group ns="$(arg veh)">
                <remap from="apriltags/camera_info" to="camera_node/camera_info"/>
		<node pkg="apriltags" type="april_tag_detector" name="apriltags" output="screen">
		</node>
                <node pkg="apriltags" type="AprilPrePros.py" name="AprilPrePros" output="screen">
		</node>
	</group>
</launch>
