<launch>
	<arg name="veh"/>
	<arg name="config" default="baseline"/>
    	<arg name="local" default="false" doc="true for running everything you possibly can on laptop. false for everything running on vehicle."/>
	<arg name="param_file_name" default="default" doc="Specify a param file. ex:megaman"/>
	<arg name="sub_node_name" default="global" doc="Specify if you want to add a subname to the name, e.g. global or fast"/>


	<group ns="$(arg veh)">
		<node pkg="apriltags" type="april_tag_detector" name="apriltags_$(arg sub_node_name)_node" output="screen">
		<!-- should load a param file in here. It should contain tag family and size -->
		</node>
	</group>
</launch>
