<launch>
    <arg name="veh"/>
    <arg name="bagin" doc="the full path to the input bag" />
    <arg name="bagout" doc="the full path to the output bag" /> 
    <node  pkg="rosbag" type="play" name="rosbag_play" args="$(arg bagin)"/>
    <node  pkg="rosbag" type="record" name="rosbag_record" args="-a  -O $(arg bagout)"/> 
    <node ns="$(arg veh)" pkg="virtual_mirror-agirard" type="average_image_node.py" name="average_image" output="screen">
    </node>
</launch>
