<launch>
    <arg name=”pkg_name” value=”<package_name>”/>
    <arg name="veh"  doc="Name of vehicle. ex: megaman"/>
    <arg name="local" default="true" doc="true for running everything you possibly can on laptop. false for everything running on vehicle."/>
    <arg name="config" default="baseline" doc="Specify a config."/>
    <arg name="param_file_name" default="default" doc="Specify a param file. ex:megaman." />
    <node ns="$(arg veh)" pkg="virtual_mirror-agirard" type="mirror_node.py" name="mirror_node" output="screen">
    </node>
</launch>
