<launch>
	<!-- <group ns="veh_name"> -->
	<!-- Launch joy -->
	<node pkg="joy" type="joy_node" name="joy" output="screen">
	    <param name="~dev" value="/dev/input/js0"/>
	    <param name="~deadzone" value="0.1"/>
	</node>
	<node pkg="joy_mapper" type="joy_mapper.py" name="joy_mapper" output="screen">
		<param name="~pub_timestep" value="0.02"/>
	</node>
	<!-- </group> -->
</launch>