<launch>
	<arg name="veh" />
	<include file="$(find duckietown_setup)/machines"/>
	<group ns="$(arg veh)">
		<!-- joy -->
		<node machine="$(arg veh)" pkg="joy" type="joy_node" name="joy" output="screen">
		    <param name="~dev" value="/dev/input/js0"/>
		    <param name="~deadzone" value="0.1"/>
		</node>
		
		<!-- joy_mapper -->
		<node machine="$(arg veh)" pkg="joy_mapper" type="joy_mapper.py" name="joy_mapper" output="screen">
			<param name="~pub_timestep" value="0.02"/>
		</node>
		
		<!-- car_supervisor -->
		<node machine="$(arg veh)" pkg="car_supervisor" type="car_supervisor.py" name="car_supervisor" output="screen">
	        <param name="~pub_timestep" value="0.02"/>
			<param name="~joystick_mode" value="True"/>
			<remap from="~joy_control" to="joy_mapper/joy_control"/>
		</node>

		<!-- dagu_car -->
		<node machine="$(arg veh)" pkg="dagu_car" type="dagu_differential_drive.py" name="dagu_car" output="screen">
			<remap from="~car_control" to="car_supervisor/car_control"/>
		</node>
	</group>
</launch>