<launch>
	<arg name="veh"/>
	<arg name="config" default="baseline"/>
	<arg name="local" default="false"/>
	<arg name="param_file_name" default="default" doc="Specify a param file. ex:megaman"/>

	<!-- Run on local (laptop) -->
	<node if="$(arg local)" ns="$(arg veh)" pkg="pi_camera" type="cam_info_reader_node.py" name="cam_info_reader_node" output="screen">
		<!-- These are special in that the configs are set as parameter and should alway obey the arg -->
		<rosparam command="load" file="$(find duckietown)/config/$(arg config)/pi_camera/cam_info_reader_node/$(arg param_file_name).yaml"/>
		<param name="~config" value="$(arg config)"/>
		<param name="~cali_file_name" value="$(arg veh)"/>
	</node>

	<!-- Run on remote (vehicle) -->
	<include unless="$(arg local)" file="$(find duckietown)/machines"/>
	<node unless="$(arg local)" ns="$(arg veh)" machine="$(arg veh)" pkg="pi_camera" type="cam_info_reader_node.py" name="cam_info_reader_node" output="screen">
		<rosparam command="load" file="$(find duckietown)/config/$(arg config)/pi_camera/cam_info_reader_node/$(arg param_file_name).yaml"/>
		<!-- These are special in that the configs are set as parameter and should alway obey the arg -->
		<param name="~config" value="$(arg config)"/>
		<param name="~cali_file_name" value="$(arg param_file_name)"/>		
	</node>	
</launch>