<launch>
	<arg name="veh"/>
    <include file="$(find duckietown)/machines"/>
	<node machine="$(arg veh)" name="camera_node" pkg="pi_camera" type="camera_node_sequence.py" output="screen">
	    <param name="~framerate" value="30.0"/>
	    <param name="~res_w" value="640"/>
	    <param name="~res_h" value="480"/>
	    <param name="~decompress" value="false"/>
	    <param name="~cali_file_name" value="$(arg veh)"/>
	</node>
</launch>