<launch>
	<arg name="veh"/>
	<arg name="raw" default="true" doc="If set to true, also publish raw image using decoder."/>
    <include file="$(find duckietown)/machines"/>
	<group ns="$(arg veh)">
		<node machine="$(arg veh)" name="camera_node" pkg="pi_camera" type="camera_node_sequence.py" output="screen">
		    <param name="~framerate" value="30.0"/>
		    <param name="~res_w" value="640"/>
		    <param name="~res_h" value="480"/>
		    <param name="~decompress" value="false"/>
		    <param name="~cali_file_name" value="$(arg veh)"/>
		</node>
		<!-- <node if="$(arg raw)" machine="$(arg veh)" name="decoder_high_freq" pkg="image_transport" type="republish" output="screen" args="compressed in:=/$(arg veh)/camera_node/image raw out:=/$(arg veh)/camera_node/image/raw"/> -->
		<node if="$(arg raw)" machine="$(arg veh)" name="decoder_node" pkg="pi_camera" type="decoder_node.py" output="screen">
			<remap from="~compressed_image" to="camera_node/image/compressed"/>
			<remap from="~image/raw" to="camera_node/image/raw"/>
			<param name="~publish_freq" value="1.0"/>
		</node>
	</group>
</launch>