<launch>
	<node name="camera_node" pkg="pi_camera" type="camera_node_continuous.py" output="screen">
		<param name="~img_low_framerate" value="30.0"/>
		<param name="~img_high_framerate" value="5.0"/>
		<param name="~img_low_res_w" value="320"/>
		<param name="~img_low_res_h" value="200"/>
		<param name="~img_high_res_w" value="640"/>
		<param name="~img_high_res_h" value="400"/>
		<param name="~uncompress" value="False"/>
	</node>
</launch>