<launch>
	<arg name="node_name" default="virtual_mirror_araki_node"/>
	<arg name="pkg_name" value="virtual_mirror_araki"/>
	<arg name="veh" default="bill"/>
	<arg name="local" default="true"/>
	<arg name="config" default="launch/config/baseline"/>
	<arg name="param_file_name" default="default"/>

	<node ns="$(arg veh)" pkg="$(arg pkg_name)" type="$(arg node_name).py" name="$(arg node_name)" output="screen">
		<rosparam command="load" file="$(find duckietown_araki)/$(arg config)/$(arg pkg_name)/$(arg node_name)/$(arg param_file_name).yaml"/>
	</node>
</launch>