<launch>
	<arg name="veh"/>
	<arg name="log_in"/>
	<arg name="log_out"/>
	<remap from="virtual_mirror_araki_node/img_in" to="camera_node/image/compressed"/>
	<remap from="virtual_mirror_araki_node/img_out" to="virtual_mirror_araki_node/topic"/>
	<node ns="$(arg veh)" pkg="virtual_mirror_araki" type="virtual_mirror_araki_node.py" name="virtual_mirror_araki_node" output="screen">
	</node>
	<node  pkg="rosbag" type="play" name="rosbag_play" args="$(arg log_in)"/>
	<node  pkg="rosbag" type="record" name="rosbag_record" args="-a  -O $(arg log_out)"/> 
</launch>