<launch>
	<arg name="veh" default="amadobot" doc="Name of vehicle. ex: megaman"/>
	<arg name="local" default="true" doc="true for running everything you possibly can on laptop. false for everything running on vehicle."/>
    <arg name="map_name" default="open_house_dp6_small" doc="The name of a map file to display (in duckietown_description/urdf)" />



    <!-- localization -->
    <include file="$(find duckietown)/launch/localization.launch">
        <!--<arg name="gui" value="false"/>-->
		<arg name="veh" value="$(arg veh)"/>
		<arg name="local" value="$(arg local)"/>
        <arg name="map_name" value="$(arg map_name)"/>
    </include>


</launch>
