<launch>
	<arg name="veh" default="$(env VEHICLE_NAME)"/>
	<!-- start basic args -->
	<include file="$(find duckietown_demos)/launch/master.launch">
		<arg name="veh" value="$(arg veh)"/>
		<arg name="fsm_file_name" value="obstacle_vehicle_avoid" />
		<arg name="visualization" value="false" />
		<arg name="/camera/raw" value="true"/>
		<arg name="obstacle_avoidance" value="true" />
		<arg name="vehicle_avoidance" value="true" />
	</include>
</launch>
