<launch>
	<arg name="veh" default="charles"/>
<remap from="camera_node/image/compressed" to="/ada/camera_node/image/compressed"/>
	<!-- start basic args -->
	<include file="$(find duckietown_demos)/launch/master_bagtest.launch">
		<arg name="veh" value="$(arg veh)"/>
		<arg name="fsm_file_name" value="parallel_autonomy" />
		<arg name="visualization" value="false" />
		<arg name="navigation" value="true"/>
		<arg name="apriltags" value="true" />
		<arg name="/camera/raw" value="true"/>
		<arg name="parallel_autonomy" value="true"/>

	<!--<arg name="camera" value="false"/>-->

	</include>
</launch>
