<launch>
	<arg name="veh" default="$(env VEHICLE_NAME)"/>
	<!-- start basic args -->
	<include file="$(find duckietown_demos)/launch/master.launch">
    <arg name="joystick" value="true" />
	<arg name="veh" value="$(arg veh)"/>
	<arg name="visualization" value="false" />
	<arg name="navigation" value="true"/>

    <arg name="/navigation/intersection_control" value="true"/>
	<arg name="/navigation/apriltags_random" value="true"/>
    <arg name="/navigation/random_sr_turns" value="false"/>
	<arg name="/navigation/graph_planner" default="false"/>

	<arg name="apriltags" value="true" />
	<arg name="/camera/raw" value="true"/>
	<arg name="/camera/raw/rect" value="true"/>
	<arg name="param_file_name" default="default" />
	<arg name="line_detector_param_file_name" default="default" />
   	<arg name="anti_instagram" default="true" />
    <arg name="LED" default="true" /> 
    <arg name="intersectionType" default="trafficLight" /> 
    <arg name="coordination" default="true" />     
	</include>
</launch>
