<launch>
	<arg name="veh" doc="Name of vehicle. ex: megaman"/>
	<arg name="local" default="false" doc="true for running everything you possibly can on laptop. false for everything running on vehicle."/>
	<arg name="config" default="baseline" doc="Specify a config."/>
	<arg name="param_file_name" default="mocap03" doc="Specify a param file. ex:megaman." />
	<arg name="raw" default="false" doc="If set to true, also publish raw image using decoder."/> 
	<arg name="cam_info" default="true" doc="If set to true, use cam_info_reader_node to pusblish CameraInfo."/>
	<arg name="live" default="true" doc="live set to false means we don't run the actual camera (i.e. running from a log file" />
	<arg name="rect" default="false" />
	<arg name="topic" default="camera_node/image_rect_color/compressed"/>    

	<!-- camera image -->
	<include file="$(find duckietown)/launch/camera.launch">
		<arg name="veh" value="$(arg veh)"/>
		<arg name="local" value="$(arg local)"/>
		<arg name="config" value="$(arg config)"/>
		<arg name="param_file_name" value="$(arg param_file_name)"/>
		<arg name="raw" value="$(arg raw)"/>
		<arg name="cam_info" value="$(arg cam_info)"/> 
		<arg name="live" value="$(arg live)"/>
	</include>

	<group if="$(arg rect)">
		<node name="image_transport" pkg="image_transport" type="republish" args="compressed in:=/$(arg veh)/camera_node/image raw out:=/$(arg veh)/camera_node">
		</node>
		
		<node name="image_proc" pkg="image_proc" type="image_proc" ns="$(arg veh)/camera_node">
		</node>
		
		<include file="$(find picamera_ros_to_lcm)/launch/picamera_ros_to_lcm_node.launch">
			<arg name="veh" value="$(arg veh)"/>
		</include>
	</group>

	<group unless="$(arg rect)">
		<include file="$(find picamera_ros_to_lcm)/launch/picamera_ros_to_lcm_node.launch">
			<arg name="veh" value="$(arg veh)"/>
		</include>
	</group>
</launch>
