<launch>
    <arg name="veh" doc="Name of vehicle. ex: megaman"/>
    <arg name="flip_direction" doc="0: horizontal 1 : vertical"/>
    <arg name="local" default="false" doc="true: laptop. false: vehicle."/>
    <arg name="pkg_name" value="virtual_mirror_atacchet"/>
    <arg name="node_name" default="virtual_mirror_node"/>

    <group ns="$(arg veh)">        
        <node if="$(arg local)" name="virtual_mirror_node" pkg="$(arg pkg_name)" type="$(arg node_name).py" output="screen" />
		<param name="virtual_mirror_node/flip_direction" type="int" value="$(arg flip_direction)" />
        <include unless="$(arg local)" file="$(find duckietown)/machines"/>
        <node unless="$(arg local)" machine="$(arg veh)" name="virtual_mirror_node" pkg="$(arg pkg_name)" type="$(arg node_name).py" output="screen" />
    </group>

    <!-- Publications -->

    <!-- Subscriptions -->

</launch>

