<launch>
	<arg name="veh"/>
	<arg name="loc" default="-1" doc="Physical room location of the duckietown map. E.g. 226 or 316"/>
	<arg name="camera" default="true" doc="If set to false, won't launch the camera. This is for easier relaunching of the line_detector_node only "/>
	<arg name="local" default="false" doc="true for running everything you possibly can on laptop. false for everything running on vehicle."/>
	<arg name="config" default="baseline" doc="Specify a config."/>
	<arg name="param_file_name" default="default" doc="Specify a param file. ex:megaman." />
	<arg name="raw" default="true" doc="If set to true, also publish raw image using decoder."/>
	<arg name="live" default="true" doc="live set to false means we don't run the actual camera (i.e. running from a log file" />

	<arg name="global" default="true"/>
	<arg name="fast"   default="false"/>

	<!-- Camera -->
	<include if="$(arg camera)" file="$(find duckietown)/launch/camera.launch">
		<arg name="veh" value="$(arg veh)"/>
		<arg name="local" value="$(arg local)"/>
		<arg name="config" value="$(arg config)"/>
		<arg name="param_file_name" value="$(arg param_file_name)"/>
		<arg name="raw" value="$(arg raw)"/>
		<arg name="cam_info" value="true"/> <!-- this should possible change later when we take logs without camera info but let's leave for now -->
		<arg name="live" value="$(arg live)"/>
	</include>

	<!-- Preprocessing and apriltags detection (#TODO update to final launch file) -->
	<include file="$(find apriltags)/launch/apriltags_node_wihtPreProsTimersParams_Alex.launch">
		<arg name="veh" value="$(arg veh)"/>
		<arg name="local" value="$(arg local)"/>
		<arg name="config" value="$(arg config)"/>
		<arg name="param_file_name" value="$(arg param_file_name)"/>
	</include>

	<!-- Postprocessing nodes -->
	<include if="$(arg fast)" file="$(find apriltags)/launch/apriltags_postprocessing_fast_node.launch">
		<arg name="veh" value="$(arg veh)"/>
		<arg name="loc" value="$(arg loc)"/>
	</include>

	<include if="$(arg global)" file="$(find apriltags)/launch/apriltags_postprocessing_global_node.launch">
		<arg name="veh" value="$(arg veh)"/>
		<arg name="loc" value="$(arg loc)"/>
	</include>


</launch>
