<launch>
    <arg name="veh" doc="Set the name of the vehicle. Corresponds to the names in the machines file."/>
    <arg name="imu" default="false" doc="Whether or not the imu nodes should be launched. Default to false."/>
    <arg name="camera" default="true" doc="True on the camera. Default to true."/>
    <arg name="joy" default="true"/>
    <arg name="drive" default="true"/>

    <!-- <arg name="bag" default="false" doc="Whether to record bag file. (On the vehicle)"/> -->
    <!-- <arg name="bag_name" default="log" doc="Name of the bag that will be saved."/> -->

    <include file="$(find duckietown)/machines"/>

    <group ns="$(arg veh)">
        <!-- Launch camera on veh-->
        <group if="$(arg imu)">
            <include file="$(find duckietown)/launch/imu_remote.launch">
                <arg name="veh" value="$(arg veh)"/>
            </include>
        </group>

        <!-- Joy on veh -->
        <node if="$(arg joy)" machine="$(arg veh)" pkg="joy" type="joy_node" name="joy" output="screen">
            <param name="~dev" value="/dev/input/js0"/>
            <param name="~deadzone" value="0.01"/>
            <param name="~autorepeat_rate" value="2.0"/>
            <param name="~coalesce_interval" value="0.02"/>
        </node>

        <!-- Joy mapper on veh -->
        <node if="$(arg joy)" machine="$(arg veh)" pkg="joy_mapper" type="joy_mapper.py" name="joy_mapper" output="screen">
            <param name="~left_right_ratio" value="1.0"/>
            <param name="~speed_gain" value="0.5"/>
            <param name="~steer_gain" value="0.4"/>
            <remap from="~wheels_cmd" to="wheels_driver/wheels_cmd"/> 
        </node>

        <!-- Wheel Driver -->
        <node if="$(arg drive)" machine="$(arg veh)" pkg="dagu_car" type="wheels_driver.py" name="wheels_driver" output="screen"/>
    </group>

    <group if="$(arg camera)">
        <include file="$(find pi_camera)/launch/camera_node.launch">
            <arg name="veh" value="$(arg veh)"/>
        </include>
    </group>

</launch>
