<launch>
	<!-- <group ns="veh_name"> -->
	<arg name="veh"/> <!-- this should probably get removed later-->
	<!-- <arg name="joy_mode" default="true"/> -->
	<arg name="imu" default="false"/>

	<include file="$(find duckietown)/machines"/>
	
	<group ns="$(arg veh)">
		<!-- Launch camera on veh-->
		<node machine="$(arg veh)" name="camera_node" pkg="pi_camera" type="camera_node_continuous.py" output="screen">
			<param name="~img_low_framerate" value="30.0"/>
			<param name="~img_high_framerate" value="5.0"/>
			<param name="~img_low_res_w" value="320"/>
			<param name="~img_low_res_h" value="200"/>
			<param name="~img_high_res_w" value="640"/>
			<param name="~img_high_res_h" value="400"/>
			<param name="~uncompress" value="False"/>
		</node>

		<!-- Joy on veh -->
		<node machine="$(arg veh)" pkg="joy" type="joy_node" name="joy" output="screen">
		    <param name="~dev" value="/dev/input/js0"/>
		    <param name="~deadzone" value="0.1"/>
		</node>

		<!-- Joy mapper on veh -->
		<node machine="$(arg veh)" pkg="joy_mapper" type="joy_mapper.py" name="joy_mapper" output="screen">
			<param name="~pub_timestep" value="0.02"/>
		</node>

		<group if="$(arg imu)">
			<include file="$(find duckietown)/launch/imu_remote.launch">
				<arg name="veh" value="$(arg veh)"/>
			</include>
		</group>

		<node machine="$(arg veh)" pkg="dagu_car" type="wheels_driver.py" name="wheels_driver" output="screen">
			<remap from="~wheels_cmd" to="joy_mapper/wheels_cmd"/>
		</node>
	</group>
</launch>
