<launch>
	<!-- Setup machine -->
	<arg name="veh"/>
	<include file="$(find duckietown)/machines"/>
	<!-- Launch the rosberrypi_cam remotely -->
	<group ns="$(arg veh)">
		<node machine="$(arg veh)" pkg="rosberrypi_cam" type="rosberrypi_cam_node" name="rosberrypi_cam" output="screen">
			<!-- <param name="~camera_info_url" value="package://rosberrypi_cam/calibration/picamera.yaml"/> -->
			<param name="~camera_info_url" value="package://pi_camera/calibration/$(arg veh).yaml"/>
			<param name="~fps" value="30"/>
			<param name="~height" value="480"/>
			<param name="~width" value="640"/>
			<param name="~brightness" value="50"/>
			<param name="~contrast" value="50"/>
			<param name="~saturation" value="50"/>
			<param name="~gain" value="50"/>
			<param name="~exposure" value="50"/>
			<param name="~white_balance_red_v" value="50"/>
			<param name="~white_balance_blue_u" value="50"/>
		</node>
	</group>
</launch>

