<launch>
    <arg name="pkg_name" value="visual_odometry"/>
    <arg name="node_name" value="odometry_training_pairs_2csv_node"/>

    <arg name="veh" doc="Name of vehicle. ex: megaman"/>
    <!--<arg name="local" default="true" doc="true for running everything you possibly can on laptop. false for everything running on vehicle."/>-->
    <!--<arg name="config" default="baseline" doc="Specify a config."/>-->
    <!--<arg name="param_file_name" default="default" doc="Specify a param file. ex:megaman." />-->

    <group ns="$(arg veh)">

        <!-- run local -->
        <node name="$(arg node_name)" pkg="$(arg pkg_name)" type="$(arg node_name).py" output="screen">

        </node>


        <!-- run remote -->
        <!--<node unless="$(arg local)" machine="$(arg veh)" name="$(arg node_name)" pkg="$(arg pkg_name)" type="$(arg node_name).py" output="screen">-->
	        <!--<rosparam command="load" file="$(find duckietown)/config/$(arg config)/$(arg pkg_name)/$(arg node_name)/$(arg param_file_name).yaml"/>-->
	    <!--</node>-->

    </group>

    <!--<test test-name="test_odometry_training_pairs" pkg="visual_odometry" type="test_odometry_training_pairs.py"/>-->

</launch>

