<launch>
	<node pkg="rosberrypi_cam" type="rosberrypi_cam_node" name="rosberrypi_cam" output="screen">
		<param name="fps" value="60"/>
		<param name="height" value="200"/>
		<param name="width" value="320"/>
		<param name="brightness" value="50"/>
		<param name="contrast" value="50"/>
		<param name="saturation" value="50"/>
		<param name="gain" value="50"/>
		<param name="exposure" value="50"/>
		<param name="white_balance_red_v" value="50"/>
		<param name="white_balance_blue_u" value="50"/>
	</node>
</launch>