<launch>
    <arg name="veh" doc="Name of vehicle. ex: megaman"/>
    <arg name="local" default="true" doc="true for running everything you possibly can on laptop. false for everything running on vehicle."/>
    <arg name="config" default="baseline" doc="Specify a config."/>
    <arg name="param_file_name" default="default" doc="Specify a param file. ex:megaman." />

    <arg name="pkg_name" value="virtual_mirror_mrinal" />
    <arg name="node_name" default="virtual_mirror_node" />
    
    <node pkg="$(arg pkg_name)" name="$(arg node_name)" type="$(arg node_name).py" output="screen">
        <remap from="image_sub" to="$(arg veh)/camera_node/image/compressed"/>
        <rosparam command="load" file="$(find duckietown_mrinal)/config/$(arg config)/$(arg pkg_name)/$(arg node_name)/$(arg param_file_name).yaml"/>
    </node>
</launch>