<launch>
    <arg name="veh"/>
    <arg name="bagin" default="0" doc="the full path to the input bag"/>
    <arg name="bagout" default="0" doc="the full path to the output bag"/>
    <arg name="local" default="true" doc="true for running everything you possibly can on laptop. false for everything running on vehicle."/>
    <arg name="config" default="baseline" doc="Specify a config."/>
    <arg name="param_file_name" default="default" doc="Specify a param file. ex:megaman."/>
    <arg name="hz" default="0.0" doc="The frequency of the test command topic" />
    <arg name="v" default="0.0" doc="The linear velocity for the test trajectory" />
    <arg name="omega" default="0.0" doc="The angular velocity for the test trajectory" />

    <!-- run forward_kinematics_node -->
    <remap from="forward_kinematics_node/wheels_cmd" to="wheels_driver_node/wheels_cmd" />
    <include file="$(find kinematics)/launch/forward_kinematics_node.launch">
        <arg name="veh" value="$(arg veh)"/>
        <arg name="local" value="$(arg local)"/>
        <arg name="config" value="$(arg config)"/>
        <arg name="param_file_name" value="$(arg param_file_name)"/>
    </include>

    <!-- run inverse_kinematics_node -->
    <remap from="inverse_kinematics_node/wheels_cmd" to="wheels_driver_node/wheels_cmd" />
    <include file="$(find kinematics)/launch/inverse_kinematics_node.launch">
        <arg name="veh" value="$(arg veh)"/>
        <arg name="local" value="$(arg local)"/>
        <arg name="config" value="$(arg config)"/>
        <arg name="param_file_name" value="$(arg param_file_name)"/>
    </include>

    <!-- run the path_visualizer_node -->
    <include file="$(find kinematics)/launch/path_visualizer_node.launch">
        <arg name="veh" value="$(arg veh)"/>
        <arg name="local" value="$(arg local)"/>
        <arg name="config" value="$(arg config)"/>
        <arg name="param_file_name" value="$(arg param_file_name)"/>
    </include>

    <!-- run the kinematics_tester_node -->
    <remap from="kinematics_tester_node/car_cmd" to="inverse_kinematics_node/car_cmd" />
    <include file="$(find kinematics)/launch/kinematics_tester_node.launch">
        <arg name="veh" value="$(arg veh)"/>
        <arg name="local" value="true"/>
        <arg name="config" value="$(arg config)"/>
        <arg name="param_file_name" value="$(arg param_file_name)"/>
        <arg name="hz" value="$(arg hz)" doc="The frequency of the test command topic" />
        <arg name="v" value="$(arg v)" doc="The linear velocity for the test trajectory" />
        <arg name="omega" value="$(arg omega)" doc="The angular velocity for the test trajectory" />
    </include>

    <node if="$(arg bagin)" pkg="rosbag" type="play" name="rosbag_play" args="$(arg bagin)"/>
    <node if="$(arg bagout)" pkg="rosbag" type="record" name="rosbag_record" args="-a  -O $(arg bagout)"/>

</launch>