<launch>
	<arg name="veh"/>
	<arg name="bagin" doc="the full path to the input bag" />
	<arg name="bagout" doc="the full path to the output bag" /> 
	<arg name="config" default="baseline" doc="Specify a config."/>
	<arg name="param_file_name" default="default" doc="Specify a param file. ex:megaman." />
	<arg name="lighting" default="default" />
    <arg name="local" default="true"/>
    <arg name="pkg_name" value="line_detector"/>
    <arg name="node_name" default="line_detector_node_sweep_param"/>
	
    <!-- Camera -->
    <include file="$(find duckietown)/launch/camera.launch">
        <arg name="veh" value="$(arg veh)"/>
        <arg name="local" value="true"/>
        <arg name="config" value="$(arg config)"/>
        <arg name="param_file_name" value="$(arg param_file_name)"/>
        <arg name="raw" value="false"/>
        <arg name="cam_info" value="false"/> <!-- this should possible change later when we take logs without camera info but let's leave for now -->
        <arg name="live" value="false"/>
    </include>

    <!-- Line Detector -->
    <remap from="line_detector_node/image" to="camera_node/image/compressed"/>
    <group ns="$(arg veh)">
        <!-- run local -->
        <node if="$(arg local)" name="line_detector_node" pkg="$(arg pkg_name)" type="$(arg node_name).py" output="screen">
            <rosparam command="load" file="$(find duckietown)/config/$(arg config)/line_detector/line_detector_node/$(arg lighting).yaml"/>
        </node>
        <!-- run remote -->
        <include unless="$(arg local)" file="$(find duckietown)/machines"/>
        <node unless="$(arg local)" machine="$(arg veh)" name="line_detector_node" pkg="$(arg pkg_name)" type="$(arg node_name).py" output="screen">
            <rosparam command="load" file="$(find duckietown)/config/$(arg config)/line_detector/line_detector_node/$(arg lighting).yaml"/>
        </node>
    </group>

    <!-- Rosbag -->
	<node  pkg="rosbag" type="play" name="rosbag_play" args="$(arg bagin)"/>
	<node  pkg="rosbag" type="record" name="rosbag_record" args="-a  -O $(arg bagout)"/> 

</launch>
