<launch>
	<arg name="veh"/>
	<arg name="log_in" doc="the full path to the input log" />
	<arg name="log_out" doc="the full path to the output log" />
	
	<remap from="image_average_node/topic_in" to="/ferrari/camera_node/image/compressed"/> 
	<node ns="$(arg veh)" pkg="image_average_wubella" type="image_average_node.py" name="image_average_node" output="screen">
	</node>

	<node  pkg="rosbag" type="play" name="rosbag_play" args="$(arg log_in)"/>
	<node  pkg="rosbag" type="record" name="rosbag_record" args="-a  -O $(arg log_out)"/> 
</launch>