<launch>
	<arg name="veh"/>
	<arg name="local" default="false" doc="true to launch locally on laptop. false to launch of vehicle"/>
	<arg name="pkg_name" default="parallel_autonomy" doc="name of the package"/>
	<arg name="node_name" default="intersection_supervisor_node" doc="name of the node"/>
        <arg name="config" default="baseline" doc="Specify a config."/>
        <arg name="param_file_name" default="default" doc="Specify a param file. ex:megaman." />
	<group ns="$(arg veh)">
	    <!-- Local -->
	    <node if="$(arg local)" pkg="$(arg pkg_name)" type="$(arg node_name).py" name="$(arg node_name)" output="screen" clear_params="true" required="true"/>
	
	    <!-- Remote -->
		<include unless="$(arg local)" file="$(find duckietown)/machines"/>
	    <node unless="$(arg local)" machine="$(arg veh)" pkg="$(arg pkg_name)" type="$(arg node_name).py" name="$(arg node_name)" output="screen" clear_params="true" required="true"/>
	</group>

	<!-- Publication -->
	
	<!-- Subscription -->


</launch>
