<launch>
    <arg name="pkg_name" value="kinematics"/>
    <arg name="node_name" default="pose2d_to_path_node"/>

    <arg name="veh" doc="Name of vehicle. ex: megaman"/>

    <group ns="$(arg veh)">

        <node name="$(arg node_name)" pkg="$(arg pkg_name)" type="$(arg node_name).py" output="screen" >
        </node>

    </group>
</launch>
