<launch>

    <arg name="veh" doc="Name of vehicle. ex: megaman"/>
    <arg name="param_file_name" default="default" doc="Specify a param file. "/>
    <arg name="gui" default="true" />

    <group ns="$(arg veh)">
        <param name="robot_description" command="$(find xacro)/xacro '$(find duckietown_description)/urdf/test_map.urdf.xacro'" />
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
        <node if="$(arg gui)" name="rviz" pkg="rviz" type="rviz" args="-d $(find duckietown_description)/rviz/map.rviz" />
    </group>

</launch>