<launch>
  <arg name="veh" doc="Name of vehicle. ex: megaman"/>
  <arg name="local" default="false" doc="true for running everything you possibly can on laptop. false for everything running on vehicle."/>
  <arg name="config" default="baseline" doc="Specify a config."/>
  <arg name="param_file_name" default="default" doc="Specify a param file. ex:megaman." />
  <arg name="raw" default="false" doc="If set to true, also publish raw image using decoder."/> 
  <arg name="cam_info" default="true" doc="If set to true, use cam_info_reader_node to pusblish CameraInfo."/>
  <arg name="live" default="true" doc="live set to false means we don't run the actual camera (i.e. running from a log file" />

  <include file="$(find duckietown)/launch/camera.launch">
    <arg name="veh" value="$(arg veh)"/>
    <arg name="local" value="$(arg local)"/>
    <arg name="config" value="$(arg config)"/>
    <arg name="param_file_name" value="$(arg param_file_name)"/>
    <arg name="raw" value="$(arg raw)"/>
    <arg name="cam_info" value="$(arg cam_info)"/> <!-- this should possible change later when we take logs without camera info but let's leave for now -->
    <arg name="live" value="$(arg live)"/>
  </include>

  <!-- face detector -->
      <remap from="osramex_node/image" to="camera_node/image/compressed"/>
      <include file="$(find osramex)/launch/osramex_node.launch">
          <arg name="veh" value="$(arg veh)"/>
          <arg name="local" value="$(arg local)"/>
          <arg name="config" value="$(arg config)"/>
          <arg name="param_file_name" value="$(arg param_file_name)"/>
      </include>
  
      <!-- car_cmd_switch_node -->
      <remap from="inverse_kinematics_node/car_cmd" to="osramex_node/car_cmd"/>
      <include file="$(find dagu_car)/launch/inverse_kinematics_node.launch">
         <arg name="veh" value="$(arg veh)"/>
         <arg name="local" value="$(arg local)"/>
         <arg name="config" value="$(arg config)"/>
      </include>
  
      <!-- Wheel Driver -->
      <remap from="wheels_driver_node/wheels_cmd" to="inverse_kinematics_node/wheels_cmd"/>
          <include if="$(arg live)" file="$(find dagu_car)/launch/wheels_driver_node.launch">
              <arg name="veh" value="$(arg veh)"/>
          </include>


</launch>
