<launch>
  <!--<arg name="pkg_name" value="virtual_mirror_amadoa"/>-->
  <!--<arg name="node_name" value="virtual_mirror_amadoa_node"/>-->
  <arg name="veh" doc="Name of vehicle. ex: megaman"/>
  <!--<arg name="local" default="true" doc="true for running everything you possibly can on laptop. false for everything running on vehicle."/>-->
  <!--<arg name="config" default="baseline" doc="Specify a config."/>-->
  <!--<arg name="param_file_name" default="default" doc="Specify a param file. ex:megaman." />-->

  <arg name="flip_direction" doc="horz or vert"/>

  <!--<include file="$(find duckietown)/machines"/>-->
  <!--<node ns="$(arg veh)" if="$(arg local)" pkg="$(arg pkg_name)" type="$(arg node_name)" name="mirror" output="screen">-->
     <!--<rosparam command="load" file="$(find virtual_mirror_amadoa)/config/$(arg config)/$(arg pkg_name)/$(arg node_name)/$(arg param_file_name).yaml"/>-->
  <!--</node>-->
  <!--<node ns="$(arg veh)" unless="$(arg local)" machine="$(arg veh)" pkg="$(arg pkg_name)" type="$(arg node_name)" name="mirror" output="screen">-->
     <!--<rosparam command="load" file="$(find virtual_mirror_amadoa)/config/$(arg config)/$(arg pkg_name)/$(arg node_name)/$(arg param_file_name).yaml"/>-->
  <!--</node>-->

  <!-- virtual_mirror_amadoa -->
  <remap from="duckiebot_image" to="camera_node/image/compressed"/>
  <remap from="mirrored_image" to="virtual_mirror_amadoa_node/image/compressed"/>
  <remap from="flip" to="virtual_mirror_amadoa_node/flip"/>

  <include file="$(find virtual_mirror_amadoa)/launch/virtual_mirror_amadoa_node.launch">
    <arg name="veh" value="$(arg veh)"/>
    <!--<arg name="local" value="$(arg local)"/>-->
    <!--<arg name="config" value="$(arg config)"/>-->
    <!--<arg name="param_file_name" value="$(arg param_file_name)"/>-->

    <arg name="flip_direction" value="$(arg flip_direction)"/>
  </include>

</launch>
